.DS_Store

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/
ENV/

*.part

**/node_modules/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/coverage/
**/.coverage
**/build/
**/dist/
**/target/
**/compile_commands.json

.env
.env.*
!.env.example
